<!-- views/index.hbs -->
<div id="viewer">
	<div id="workflow">
		<div id="drop-zone" class="drop-zone">
			<div id="drop-box" class="vert-centered"></div>
			<div class="box vert-centered">
				<input type="file" name="file-upload[]" id="file-upload" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
				<label for="file-upload"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choose a file&hellip;</span></label>
			</div>
			<div id="next-btn">Next&nbsp;&nbsp;</div>
		</div>
		<div id="setter">
			<div id="back-btn">&nbsp;&nbsp;Back</div>
			<div style="margin:2rem;">
				<p>Tweak this file</p>
				<p>to be</p>
			</div>
			<div class="wrapper-dropdown">
				<span>Louder</span>
			</div>
			<ul class="dropdown" style="display:none;">
				<li>All Trades</li>
				<li>My Trades</li>
			</ul>
			<div id="upload-btn">Go!</div>
		</div>
		<div id="worker" >
			<div class="hp-bar-red">
				<div class="hp-value">Uploading...</div>
				<div id="progress-bar" class="hp-bar-green"></div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="tab-menu-container">
	  <div id="place-marker"></div>
	  <div class="tab-menu">
		<li>Upload</li>
		<li>Setup</li>
		<li>Process</li>
	  </div>
	</div>
</div>