<!-- views/index.hbs -->
<div class="container">
	<div id="drop-zone" class="drop-zone"><h1>File1</h1><h2>Drag &amp; Drop or <input type="file" id="fileUpload"><input type="button" id="upload-btn" value="Upload" /></h2><!--shows only when no file-->	

	</div>
</div>
