<!-- views/index.hbs -->
<div id="drop-zone" class="drop-zone">
	<h1>
		<input type="file" id="file-upload" style="margin:auto;">
		<input type="button" id="upload-btn" value="Next: Add Tweaks" />
	</h1>
</div>
<div id="setter" style="display:none;">
	<div style="margin:2rem;">
		<p>Tweak this file</p>
		<p>to be</p>
	</div>
	<div class="wrapper-dropdown">
		<span>Louder</span>
	</div>
	<ul class="dropdown" style="display:none;">
		<li>All Trades</li>
		<li>My Trades</li>
	</ul>
</div>
<div id="worker" style="display:none;">
	<div class="hp-bar-red">
		<div class="hp-value">Uploading...</div>
		<div id="progress-bar" class="hp-bar-green"></div>
	</div>
</div>
<div id="footer">
	<div class="tab-menu-container">
	  <div class="tab-menu">
		<li>Articles</li>
		<li>Videos</li>
	  </div>
	</div>
</div>