<!-- views/index.hbs -->
<div class="container">
	<div id="drop-zone" class="drop-zone">
		<h1>
			<input type="file" id="fileUpload" style="margin:auto;">
			<div style="margin:2rem;">
				<p>Tweak this file</p>
				<p>to be</p>
			</div>
			<input type="options"/>
			<input type="button" id="upload-btn" value="Go!" />
		</h1>
	</div>
</div>
