* {
    box-sizing: border-box;/*reset page*/
}
a {
	color:inherit;
}
/* background image */
body {
    margin: 0;/*reset page*/
	background-image: url("./img/diam.jpg");
	background-repeat: repeat;
	background-position: center;
	background-size: 30rem;
    z-index: -10;
}
/* overall background color */
body:after {
	content: "";
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
	z-index: -11;
	background:rgba(217,217,217,0.2);
}
body, .btn {
	color:#889499;
}
#header > #group1 > a {
	color: rgba(247,207,127,1);
}
.vert-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.vert-menu {
	display: flex;
	flex-direction: column;
}
/* BASICS ^ */
/* RESET */
/* HEADER */
.navbar-default, #footer {
	border: 0px;
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-default, #footer, .wrapper-dropdown, .dropdown, .hp-bar-red {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b82a5+30,aaaacc+100 */
	background: rgba(0,0,0,0.8); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.btn-default:hover, .btn-success:hover, a:hover {
	color:inherit;
	text-decoration: none;
}
.btn:active, .btn:focus, a:active, a:focus {
	text-decoration: none;
	outline: none;
}
/* Right of Title Decoration */
#header > #group1, #header > #group1 a {
	display: flex;
	flex-direction: row;
}
#header > #group1 a:after {
	content:"";
	position: relative;
	width:60px;
	height:40px;
	background-image: none;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 10px;
}
/*------------*/
/* WORKFLOW AREA */
/*--------------*/
#viewer {
	/* prevents scroll bar */
	overflow:hidden;
}
#workflow, #place-marker {
	transition: all 0.5s ease;
	transform: translateX(-0%);
}

#drop-box {
	transition:all .5s ease;
	height:500px;
	width:500px;
	border: 1.5rem dashed #aab4bb;
}

.drop-zone {
	height:90vh;
	background-color: transparent;
}
#drop-zone, #setter, #worker {
	min-width:100vw;
	position: relative;
}

/* drop hover */
#drop-zone.onTop #drop-box  {border-color: #55bbaa;}

#next-btn, #back-btn, #upload-btn {
	position: absolute;
	display:inline-block;
	
	top:50%;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	
	font-size: 2rem;
	
	cursor: pointer;
}
#next-btn, #back-btn, #upload-btn, .btn, .btn-default {
	background-color: #d3394c;
	color:#fff;
}
.btn, .btn-default {
	border-radius: 0px;
	border: 0px;
}
.btn-default:hover{
	color:#fff;
}
#next-btn, #back-btn, #upload-btn, .hp-bar-red, .btn, .btn-default  {
	box-shadow: -2px 3px 3px rgba(0,0,0,0.2);
}
#next-btn {
	right: 5rem;
	padding-left: 1.6rem;
	padding-right: 0;
}
#back-btn {
	left: 5rem;
	padding-left: 0;
	padding-right: 1.6rem;
}

/* Arrows */
#next-btn:after, #back-btn:before {
    content: "";
    width: 0;
    height: 0;
	position: absolute;
	margin-top: -0.6rem;
}
/* Right Arrow */
#next-btn:after {
    border-width: 2rem 0 2rem 2rem;
    border-style: solid;
    border-color: transparent #d3394c;    
}
/* Left Arrow */
#back-btn:before {
	left: -2rem;
    border-width: 2rem 2rem 2rem 0;
    border-style: solid;
    border-color: transparent #d3394c;    
}

#next-btn:hover, #back-btn:hover, #upload-btn:hover, .btn:hover{
    background-color: #722040;
}
#next-btn:hover:after, #back-btn:hover:before {
	border-color: transparent #722040;
}
#upload-btn {
	right: 5rem;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	border: 0px;
}

/*------------*/
/* CUSTOM FILE UPLOAD */
/*--------------*/
input[type="file"] {
	display: none;
}

/* style 5 */
.inputfile-5 + label, #finished-download + label {
	cursor: pointer;
}

.inputfile-5 + label figure,  #finished-download + label figure {
    width: 15rem;
    height: 18rem;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 3rem;
	box-shadow: -2px 3px 3px rgba(0,0,0,0.2);
}

.inputfile-5:focus + label figure,
 #finished-download:focus + label figure,
.inputfile-5.has-focus + label figure,
 #finished-download.has-focus + label figure,
.inputfile-5 + label:hover figure,
 #finished-download + label:hover figure,
.inputfile-5 + label:hover span,
 #finished-download + label:hover span {
    background-color: #722040;
}

 #finished-download + label figure::before,
 #finished-download + label figure::after,
.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}
 #finished-download + label figure::before,
.inputfile-5 + label figure::before {
    border-top: 3rem solid #dadada;
    border-left: 3rem solid transparent;
}
 #finished-download + label figure::after,
.inputfile-5 + label figure::after {
    border-bottom: 3rem solid #722040;
    border-right: 3rem solid transparent;
}

 #finished-download:focus + label figure::after,
.inputfile-5:focus + label figure::after,
 #finished-download.has-focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
 #finished-download + label:hover figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

 #finished-download + label svg,
.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #dadada;
}

 #finished-download + label > span,
.inputfile-5 + label > span {
	padding: 1rem;
	font-size: 2rem;
    color: #fff;
    background-color: #d3394c;
	box-shadow: -2px 3px 3px rgba(0,0,0,0.2);
	cursor: pointer;
}
/*------------*/
/* CUSTOM DROPDOWN */
/*--------------*/
.hidden {
	display: none;
}
.wrapper-dropdown, .dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 400px;
    padding: 1.5rem;
	margin: auto;
    border-radius: 8px;

    /* Styles */
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}
/* Down Arrow */
.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    margin-top: -0.3rem;
    border-width: 0.6rem 0.6rem 0 0.6rem;
    border-style: solid;
    border-color: #fff transparent;    
}
/* The Actual List */
.dropdown {
    z-index: 10;
}
.dropdown li {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted #f96c8d;
}
.dropdown li:hover {
    border-bottom: 2px solid #f96c8d;
}
/*------------*/
/* FILE UPLOAD BAR */
/*--------------*/
.hp-bar-red {
    position: relative;
	width:50%;
	margin: auto;
    /*background-color:#2c3e50;*/
    border-radius: 10px;
}
.hp-bar-green {
    transition:all 0.3s ease;
    position: absolute;
    content:"";
    top:0;
    left:0;
    background-color:#27ae60;
    border-radius: 10px;
    height:100%;
    width:0%;
}
#hp-value {
    position: relative;
    z-index: 2;
	text-align: center;
    font-weight: bold;
	padding:0.6rem;
	color:#dadada;
}
/*------------*/
/* FOOTER */
/*--------------*/
#footer {
	position: fixed;
	bottom: 0;
	width:80%;
	margin-left: 10%;
}
#footer {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#place-marker {
	position: absolute;
	display: inline-block;
	height: 100%;
	border-bottom: 0.6rem solid #f97bf2;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#place-marker, .tab-menu li {
	width: calc(100%  /3);
}
.tab-menu-container {
	position:relative;
}
.tab-menu, #workflow {
	display: flex;
	flex-direction: row;
}
.tab-menu li:first-child {
	color:#f97bf2;
}
.tab-menu li {
	color:#f96c8d;
}
.tab-menu li:last-child {
	color:#f97c45;
}
.tab-menu li {
	display: inline-block; 	/* remove li dot */
	font-family: "Arial Rounded MT Bold", "Arial";
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;

	padding:1rem;
}