<!-- views/reset.ejs -->
<!doctype html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
        body        { text-align:center; padding-top:80px; color:white; background-color: brown;  }
		a			{ color:yellow }
		.well{
		 height:50px;
		 font-size: 1.5em;
		 padding: 0 2px 2px 12px;
		 margin: 0 2% 2% 2%;
		 border-radius: 10px;
		 border:2px inset rgba(0,0,0,0.5);
		 background-color: rgba(0,0,0,0.5);
		 color: aliceblue;
		}
    </style>
</head>
<body>
<%- include ../partials/header.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Reset Password</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
	<form class="login-area centered" action="/reset/<%= token %>" method="post">
		<div class="form-group">
			<label>New Password</label>
			<input type="text" class="form-control well" name="password">
		</div>

		<button type="submit" class="btn btn-lg">Change Password</button>
	</form>
    <hr>

</div>

</div>
</body>
</html>
